.used {
}

.concurrent {
    background-color: #F7F3DF !important;
    -webkit-box-shadow: 0 0 20px 2px #C1C1AA !important;
    -moz-box-shadow: 0 0 20px 2px #C1C1AA !important;
}

.warn {
    text-align: center;
    background-color: #F7DFD7;
    min-width: 800px;
    min-height: 20px;
    padding: 10px;
    margin: 0px 20px 30px 20px;
    font-family: sans-serif;
    font-size: 10pt;
    -webkit-border-radius: 20px 20px;
    -webkit-box-shadow: 0 0 20px 2px #E2D5D5;
    -moz-border-radius: 20px 20px;
    -moz-box-shadow: 0 0 20px 2px #E2D5D5;
}

.hidden {
    display: none;
}

.logo {
    width: 100%;
    height: 200px;
}

.logo-img {
    width: 200px;
    height: 200px;
    float: left;
}

.logo-text {
    padding-top: 60px;
    color: #305F0F;
    font-size: 40pt;
}

.element {
    background-color: #90DF70;
    min-width: 800px;
    min-height: 20px;
    padding: 10px;
    margin: 10px 20px 30px 20px;
    font-family: sans-serif;
    font-size: 10pt;
    -webkit-border-radius: 20px 20px;
    -webkit-box-shadow: 0 0 20px 2px #999999;
    -moz-border-radius: 20px 20px;
    -moz-box-shadow: 0 0 20px 2px #999999;
}

.element .value {
    font-size: 10pt;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}

.element .value2 {
    font-size: 10pt;
    padding-left: 200px;
    white-space: -moz-pre-wrap;
    white-space: -hp-pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -pre-wrap;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    word-break: break-all;
}

.element .params {
    padding-left: 20px;
}

.element .headers {
    padding-left: 20px;
}

.element .cookies {
    padding-left: 20px;
}

.element .name {
    padding-left: 20px;
    width: 200px;
}

.inline-block {
    display: inline-block;
}

.container {
    margin-bottom: 20px;
    width: 100%;
}

.label {
    float: left;
    width: 200px;
    display: inline-block;
}

input#sid {
    width: 400px;
}

input#url {
    width: 500px;
}

input#shorturl {
    width: 500px;
}

.curl {
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.curl:focus {
    width: 450px;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.controls {
    padding-right: 20px;
    float: right;
}

input, button {
    font-size: 12pt;
    border: 1px solid #333;
    outline: 0;
    box-shadow: none;
}

input[type='text'] {
    float: left;
    width: 150px;
    background-color: #FFFFFF;
    border-right: 0 none;
    border-radius: 10px 0 0 10px;
    padding-left: 7px;
}

input[type='submit'] {
    position: relative;
    background-color: #CFCFCF;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

input[type='button'], button {
    position: relative;
    background-color: #CFCFCF;
    cursor: pointer;
    border-radius: 0px 10px 10px 0;
}

.copied::after {
    position: absolute;
    top: -40px;
    right: 0px;
    display: block;
    content: "Copied";
    font-size: 10pt;
    padding: 2px 5px;
    color: #FFFFFF;
    background-color: #4A743A;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    will-change: opacity, transform;
    animation: showcopied 1.5s ease;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    70% {
        opacity: 0.8;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
    }
}
