<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css"/>

    <script src="/jquery-3.1.1.js"></script>
    <script src="/copy.js"></script>

    <script type="text/javascript" th:inline="javascript">
        var baseUrl = [[${baseUrl}]];
        var apiKey = [[${apiKey}]];

        /*<![CDATA[*/

        function generateSID() {
            var d = new Date().getTime();
            if (window.performance && typeof window.performance.now === "function") {
                d += performance.now(); //use high-precision timer if available
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (d + Math.random() * 16) % 16 | 0;
                d = Math.floor(d / 16);
                return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });

            var url = baseUrl + "?sid=" + uuid;

            $("input:text#sid").val(uuid);
            $("input:text#url").val(url);

            if (apiKey) {
                $.ajax({
                    data: '{"longUrl": "' + url + '"}',
                    contentType: 'application/json',
                    type: 'POST',
                    url: 'https://www.googleapis.com/urlshortener/v1/url?key=' + apiKey,
                    success: function (d) {
                        $("input:text#shorturl").val(d.id);
                    }
                });
            }
        }

        function validate() {
            var valid = $("input:text#sid").val().length > 0;
            $("div#validation").css("display", valid ? "none" : "block");
            return valid;
        }

        /*]]>*/
    </script>

    <title>Tyra(nnosaurus)</title>
</head>

<body>
<noscript>
    <h2 class="warn" th:text="#{message.javascript.disabled}"></h2>
</noscript>

<div class="logo">
    <img src="/logo.png" class="logo-img"/>
    <nobr><div class="logo-text" th:text="#{message.welcome.to.tyra}"></div></nobr>
</div>

<div id="container" class="container">
    <div id="validation" class="warn hidden" th:text="#{message.sid.is.empty}"></div>
</div>

<form action="tyra" method="get">
    <div id="container" class="container">
        <div class="label" th:text="#{message.select.sid}"></div>
        <input id="sid" name="sid" onchange="validate()" onkeydown="validate()" type="text"/>
        <input type="button" onclick="generateSID()" th:value="#{message.generate.sid}"/>
        <p/>
        <div class="label" th:text="#{message.generated.url}"></div>
        <input id="url" type="text" readonly="true"/>
        <button onclick="copy(this, 'url'); return false;" th:text="#{message.copy}"/>
        <p/>
        <div class="label" th:text="#{message.shortened.url}"></div>
        <input id="shorturl" type="text" readonly="true"/>
        <button onclick="copy(this, 'shorturl'); return false;" th:text="#{message.copy}"/>
        <p/>
        <div class="label"></div>
        <input type="submit" onclick="return validate()" th:value="#{message.start}"></input>
    </div>
</form>
</body>
</html>
